main
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vh 0px;
    margin-left: max(300px, 12.5vw);
    transition: all .3s;
    min-height: 100vh;
}

.reduce-margin
{
    margin-left: 75px;
}

.main-heading
{
    position: absolute;
    top: 15px;
    left: 1%;
}

.text-input-enabled-false
{
    outline: 1px solid var(--error) !important;
}

.main-heading h1
{
    color: var(--secondary);
    font-size: 1.6rem;
}

.chat-content
{
    width: 768px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    background-color: transparent;
}

.text-input
{
    display: block;
    width: 93%;
    height: 100%;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    border-right: none;
    padding: 16px 12px;
    line-height: 2rem;
    overflow-y: hidden;
    color: var(--text-primary);
    resize: none;
    background-color: var(--surface);
    overflow: hidden;
}

.text-input-div
{
    width: 100%;
    height: 4rem;
    max-width: 768px;
    border-radius: 20px;
    border: 2px solid var(--overlay);
    display: flex;
    background-color: var(--surface);
    z-index: 500;
}

.image-avatar
{
    width: 50px;
    height: 50px;
    user-select: none;
}

.message
{
    position: relative;
    min-width: 100px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--overlay);
    border-radius: 25px;
    border: 1px solid var(--surface);
    margin-top: 20px;
    max-width: 100%;
    padding: 5px 5px;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
}

.message-content
{
    padding: 10px;
    color: var(--text-primary);
    max-width: 100%;
}

.message-content code
{
    background-color: #27293d;
    color: #f8f8f2;
    padding: 2px 6px;
    border-radius: 5px;
    font-family: 'Fira Code', monospace;
    font-size: 0.95rem;
}

.message-content p
{
    margin: 0;
}

.message-content pre
{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.message-content ul, .message-content ol 
{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.message-content ul li, .message-content ol li
{
    height: auto;
}

.chat-content h6
{
    text-align: center;
    margin-top: 5px;
    color: var(--secondary);
    font-weight: 400;
}

.message-assistant
{
    flex-direction: row-reverse;
    margin-left: auto;
}

.message-user
{
    flex-direction: row;
    margin-right: auto;
}

.send-btn-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.messages
{
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: -1rem;
    padding-bottom: 2rem;
}

/* Hiding scrollbar from Chrome */
.messages::-webkit-scrollbar 
{
    display: none;
}

.send-btn
{
    transition: all .3s;
}

.send-btn:hover
{
    color: var(--text-muted);
}

@media only screen and (max-width: 768px)
{
    main
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5vh;
        padding-bottom: 8.5vh;
        margin-left: 0px;
        min-height: 100vh;
    }

    .reduce-margin
    {
        margin-left: 0px;
    }

    .messages
    {
        overflow: visible;
        overflow-y: scroll;
    }

    .chat-content
    {
        width: 90%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .text-input
    {
        display: block;
        width: 85%;
    }

    .message
    {
        min-width: 100px;
        margin-top: 20px;
        max-width: 100%;
        padding: 10px 10px;
        overflow: hidden;
    }

    .message > *
    {
        margin: 5px;
    }

    .main-heading
    {
        display: none;
    }

    .main-heading h1
    {
        font-size: 1.4rem;
    }

    .message-content
    {
        font-size: 0.9rem;
        max-width: 100%;
    }

    .message-content code
    {
        padding: 1px 3px;
        border-radius: 5px;
        font-family: 'Fira Code', monospace;
        overflow-x: scroll;
        font-size: 0.8rem;
    }

    .message-content pre
    {
        max-width: 100%;
    }

    .message-content ul, .message-content ol 
    {
        padding: 0px 20px;
        max-width: 100%;
    }
}