main
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vh 0px;
    margin-left: max(300px, 12.5vw);
    transition: all .3s;
    min-height: 100vh;
}

.reduce-margin
{
    margin-left: 75px;
}

.main-heading
{
    position: absolute;
    top: 15px;
    left: 1%;
}

.main-heading h1
{
    color: var(--text-primary);
    font-size: 1.6rem;
}

.chat-content
{
    width: 768px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

.text-input
{
    display: block;
    background-color: var(--surface);
    width: 93%;
    height: 100%;
    font-size: 1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    border-right: none;
    padding: 16px 12px;
    line-height: 2rem;
    overflow-y: hidden;
    color: var(--text-primary);
    resize: none;
}

.text-input-div
{
    width: 100%;
    height: 4rem;
    max-width: 768px;
    background-color: var(--surface);
    border-radius: 20px;
    border: 1px solid var(--overlay);

    display: flex;
}

.image-avatar
{
    width: 50px;
    height: 50px;
    user-select: none;
}

.message
{
    min-width: 100px;
    width: fit-content;
    overflow: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--surface);
    border-radius: 25px;
    border: 1px solid var(--overlay);
    margin-top: 20px;
    max-width: 80%;
    padding: 5px 5px;
    word-break: break-all;
}

.chat-content h6
{
    text-align: center;
    margin-top: 5px;
    color: var(--text-primary);
    font-weight: 400;
}

.message-robot
{
    flex-direction: row-reverse;
    margin-left: auto;
}

.message-human
{
    flex-direction: row;
    margin-right: auto;
}

.send-btn-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.message p
{
    padding: 10px;
    color: var(--text-primary);
}

.messages
{
    flex-grow: 1;
    overflow-y: scroll;
    padding: 20px 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 768px)
{
    main
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 5vh;
        padding-bottom: 4vh;
        margin-left: 0px;
        min-height: 100vh;
    }

    .reduce-margin
    {
        margin-left: 0px;
    }

    .chat-content
    {
        width: 90%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .text-input
    {
        display: block;
        background-color: var(--surface);
        width: 85%;
    }

    .message
    {
        min-width: 100px;
        margin-top: 20px;
        max-width: 90%;
        padding: 5px 5px;
    }

    .main-heading
    {
        display: none;
    }

    .main-heading h1
    {
        font-size: 1.4rem;
    }
}