header
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid var(--overlay);
    background-color: var(--surface);
    transition: .3s all;
    z-index: 9999;
    width: 12.5vw;
    min-width: 300px;
}

.menu-row
{
    width: 100%;
    padding: 20px 20px;
}

.fa-icon-header
{
    color: var(--text-primary);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header nav ul li
{
    width: 100%;
    height: 50px;
    font-size: 1rem;
    color: var(--text-primary);
    border-top: 1px solid var(--overlay);
}

header nav ul li a
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 5px 20px;
    transition: all .3s;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap; 
}

.chat-list
{
    margin-top: 30px;
    list-style: none;
    overflow: hidden;
    white-space: nowrap; 
}

.display-chats-true
{
    visibility: visible;
    opacity: 1;
}

.display-chats-false
{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.chat-list h3
{
    padding: 0px 20px;
}

header nav ul li a:hover
{
    background-color: var(--overlay);
}

header nav ul li a > *
{
    margin-right: 5px;
}

.open
{
    width: 12.5vw;
    min-width: 300px;
}

.closed
{
    width: 75px;
    min-width: 0px;
}

header.closed .option-text
{
    visibility: hidden;
}