*
{
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.motion-div
{
  width: auto;
  display: inherit;
}

@media only screen and (max-width: 768px)
{
  main
  {
    max-height: 100dvh;
  }
}